<%= form_with(model: @property, local: true ) do |form| %>
  <div>
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :賃料 %>
    <%= form.text_field :rent %>
  </div>
  <div>
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :築年数 %>
    <%= form.text_field :age_building %>
  </div>
  <div>
    <%= form.label :備考 %>
    <%= form.text_field :remarks %>
  </div>

  <% @num = 1 %>
  <%= form.fields_for :stations do |station| %>
    <h3>最寄り駅<%= @num %></h3> 
    <%= station.label :路線名 %>
    <br>
    <%= station.text_field :route_name %>
    <br>
    <%= station.label :路名 %>
    <br>
    <%= station.text_field :station_name %>
    <br>
    <%= station.label :徒歩分数 %>
    <br>
    <p><%= station.text_field :walking_time %>分</p>
    <% @num += 1 %>
  <% end %>
  <%= form.submit button_text %>
<% end %>
