<h2>一覧</h2>
<hr>
<div class="index_area">
  <h1>物件一覧</h1>
  <table>
    <tr>
      <th class="name">物件名</th>
      <th class="rent">賃料</th>
      <th class="address">住所</th>
      <th class="age">築年数</th>
      <th class="text_area">備考</th>
    </tr>
    <% @properties.each do |property|  %>
      <tr>
        <td><%= property.name %></td>
        <td><p><%= property.rent %>円</p></td>
        <td><%= property.address %></td>
        <td><p><%= property.age_building %>年</p></td>
        <td><%= property.remarks %></td>
        <td><%= link_to '詳細', property_path(property.id) %></td>
        <td><%= link_to '編集', edit_property_path(property.id) %></td>
        <td><%= link_to '削除', property_path(property.id), method: :delete, data: { confirm: '本当に消してもいいですか？' } %></td>
      </tr>  
    <% end %>
  </table>
  <%= link_to '物件を登録する', new_property_path %>
</div>